html.dark {
	scrollbar-color: var(--color-gray-600) var(--color-gray-800);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

code, pre {
  font-family: var(--font-mono);
  font-size: 0.875rem;
}

html {
	--font-sans: var(--font-atkinson-hyperlegible-next);
	--font-mono: var(--font-fira-code);
	--font-logo: var(--font-fira-sans);

	--color-black: oklch(0.12 0.0224 261.75);
	--color-white: oklch(0.982 0.0041 91.45);
	--color-primary: oklch(0.7484 0.1551 233.2517);
	--color-gray-800: oklch(0.18 0.0224 261.75);
	--color-gray-750: oklch(0.25 0.0224 261.75);
	--color-gray-700: oklch(0.3 0.0224 261.75);
	--color-gray-600: oklch(0.4 0.0224 261.75);
	--color-gray-500: oklch(0.5 0.0224 261.75);
	--color-gray-400: oklch(0.6 0.0224 261.75);
	--color-gray-300: oklch(0.7 0.0224 261.75);
	--color-gray-200: oklch(0.8 0.0224 261.75);
	--color-gray-100: oklch(0.9 0.0224 261.75);
	--color-gray-light: oklch(0.949 0 0);

	--breakpoint-xs: 440px;
}

html {
	scrollbar-gutter: stable;
	scrollbar-color: var(--color-gray-200) var(--color-gray-light);
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}
