@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--font-sans: var(--font-atkinson-hyperlegible-next);
	--font-mono: var(--font-fira-code);
	--font-logo: var(--font-zalando-sans-expanded);

	--color-black: oklch(0.12 0.0224 261.75);
	--color-white: oklch(0.982 0.0041 91.45);
	--color-primary: oklch(0.7484 0.1551 233.2517);
	--color-gray-800: oklch(0.18 0.0224 261.75);
	--color-gray-750: oklch(0.25 0.0224 261.75);
	--color-gray-700: oklch(0.3 0.0224 261.75);
	--color-gray-600: oklch(0.4 0.0224 261.75);
	--color-gray-500: oklch(0.5 0.0224 261.75);
	--color-gray-400: oklch(0.6 0.0224 261.75);
	--color-gray-300: oklch(0.7 0.0224 261.75);
	--color-gray-200: oklch(0.8 0.0224 261.75);
	--color-gray-100: oklch(0.9 0.0224 261.75);
	--color-gray-light: oklch(0.949 0 0);

	--breakpoint-xs: 440px;
}

html {
	scrollbar-gutter: stable;
}

pre {
	scrollbar-color: var(--color-gray-200) var(--color-white);
	scrollbar-width: thin;
	scrollbar-width: 2px;
}

.dark pre {
	scrollbar-color: var(--color-gray-700) var(--color-black);
}

::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px var(--color-white);
	border: solid 8px transparent;
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--color-gray-100);
	border: solid 8px transparent;
	border-radius: var(--radius-lg);
}
::-webkit-scrollbar-corner {
	background: transparent;
}
div::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px var(--color-gray-light);
}
div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--color-gray-200);
}

@layer components {
	@import "highlight.js/styles/atom-one-light.css";
}

.dark {
	@layer components {
		@import "highlight.js/styles/atom-one-dark.css";
	}
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 10px 10px var(--color-gray-800);
	}
	::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 10px 10px var(--color-gray-700);
	}
}
