@import "tailwindcss";

:root {
	--color-bg: oklch(1 0 0);
	--color-fg: oklch(0.1822 0 0);
	--color-highlight: oklch(0.7484 0.1551 233.2517);
}

::selection {
	background: var(--color-highlight);
	color: var(--color-fg);
}

@theme inline {
	--font-sans: var(--font-atkinson-hyperlegible-next);
	--font-mono: var(--font-atkinson-hyperlegible-mono);
	--font-logo: var(--font-zalando-sans-expanded);

	--color-primary: oklch(0.7484 0.1551 233.2517);
	--color-gray-800: oklch(0.18 0.0224 261.75);
	--color-gray-700: oklch(0.3 0.0224 261.75);
	--color-gray-600: oklch(0.4 0.0224 261.75);
	--color-gray-500: oklch(0.5 0.0224 261.75);
	--color-gray-400: oklch(0.6 0.0224 261.75);
	--color-gray-300: oklch(0.7 0.0224 261.75);
	--color-gray-200: oklch(0.8 0.0224 261.75);
	--color-gray-100: oklch(0.9 0.0224 261.75);

	--breakpoint-xs: 380px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: oklch(0.12 0.0224 261.75);
		--color-fg: oklch(0.982 0.0041 91.45);
		--color-highlight: oklch(0.2435 0 0);
	}

	::selection {
		background: var(--color-highlight);
		color: var(--color-fg);
	}
}

body {
	background: var(--color-bg);
	color: var(--color-fg);
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}
